@page "/teams/create"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager uriHelper

<h3>Create Team</h3>

<Form ButtonText="Create Team" team="@team"
      OnValidSubmit="@CreateTeam"/>

@code {
    Team team = new Team();
    async Task CreateTeam()
    {
        var httpClient = HttpClientFactory.CreateClient("TeamManagement.AnonymousAPI");
        await httpClient.PostAsJsonAsync("api/Teams", team);
        uriHelper.NavigateTo("teams");
    }
}
